.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header-left {
    display:flex;
    flex-direction:row;
}

#header-left img {
    align-self: center;
}

#header-list {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin: .5rem .2rem;
    list-style-type: none;
    font-size: large;
}

#header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-bar-icon {
    height: 35px;
    width: 45px;
}

.menu-bar-icon:hover {
    cursor: pointer;
}

.black {
    background-color: white;
    border-radius: 50%;
    height: 25px;
    width: 30px;
}