
<div class="container header">

    <section id="header-left">
        <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM="
            height="30px">
        <ol id="header-list">
            <li><a>home</a></li>
            <li><a>Blog</a></li>
            <li><a>BookMarks</a></li>
            <li><a>UI Kit</a></li>
            <li><a>Lain Nya</a></li>
        </ol>
    </section>

    <section id="header-right">
        <a>icon</a>
        <a>icon</a>
        <a>icon</a>
        <a>icon</a>
    </section>
    



</div>

