
<div class="container header">

    <section id="header-left">
        <img src="https://cdn-icons-png.flaticon.com/512/2021/2021646.png"
            height="30px">
        <ol id="header-list">
            <li><a [routerLink]="['']">Home</a></li>
            <li><a>List of Contents</a></li>
            <li><a>Surprise</a></li>
        </ol>
    </section>

    <section id="header-right">
        <a her=""><img class='menu-bar-icon'
            alt='instagram icon' 
            src="https://i.pinimg.com/originals/63/9b/3d/639b3dafb544d6f061fcddd2d6686ddb.png"
            ></a>
        <a><img class='menu-bar-icon black' 
            alt='linkedin icon'
            id="linkedin" 
            src="https://cdn-icons-png.flaticon.com/512/49/49408.png"
            ></a>
        <a><img class='menu-bar-icon black' 
            alt='facebook icon' 
            src="https://cdn-icons-png.flaticon.com/512/49/49354.png"></a>
    </section>
    



</div>

